.aboutContainer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(10deg, rgba(2,0,36,1) 0%, rgba(116,116,227,1) 78%, rgba(104,104,228,1) 100%); 
    color: white;
    min-width: 100vw;
    min-height: auto;
}

.aboutMeText{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.aboutMeText h1 {
    font-size: 2rem;
    text-align: center;
    position: relative;
    display: inline-block;
  }
  
  .aboutMeText h1::after {
    content: "";
    display: block;
    width: 5rem; /* Adjust underline width */
    height: 3px; /* Thickness of the underline */
    background-color: white; /* Change color if needed */
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
  }
  .aboutMeText h1:hover::after {
    width: 300px;
  }

  
.aboutMeText p{
    font-size: 0.9rem;
}
