#about{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-image: linear-gradient(to right bottom, #1c325b, #1c305f, #1d2e63, #212b66, #262869, #27266b, #28236d, #2a206f, #271e71, #241b74, #201976, #1c1678);    
    min-height: auto;
    color: white; 
    justify-content: center;
    align-items: center;
  }


.aboutMeText{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
    #about h1 {
    font-size: 2rem;
    text-align: center;
    position: relative;
    display: inline-block;
    padding-bottom: 5px; /* Adds spacing between text and underline */

  }
  
  #about h1::after {
    content: "";
    display: block;
    width: 5rem; /* Adjust underline width */
    height: 4px; /* Thickness of the underline */
    background-color: white; /* Change color if needed */
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    transition: width 0.4s ease-in-out;

  }
  #about h1:hover::after {
    width: 7rem;
  }
  
  .aboutMe img{
    display: flex;
    width: 15rem;
  }
  
.aboutMeText p{
    font-size: 0.9rem;
}
