#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/bg4.jpg"); /* Update with your actual image path */
    background-size: cover;  /* Ensures the image covers the entire section */
    background-position: center;  /* Centers the image */
    background-repeat: no-repeat;  /* Prevents tiling */
    height: 100vh; 
    width: 100vw;
    color: white;
    overflow: hidden;
}
.containerContact{
    display: flex;
    align-items: center;
    gap: 100px;
}
button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background: #6868E4;
    color: white;
    border: none;
    cursor: pointer;
  }
  
