.containerContact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/bg4.jpg"); /* Update with your actual image path */
    background-size: cover;  /* Ensures the image covers the entire section */
    background-position: center;  /* Centers the image */
    background-repeat: no-repeat;  /* Prevents tiling */
    height: 100vh; 
    width: 100vw;
    color: white;
    overflow: hidden;
}