#home {
    transform-origin: top;
  }
  
.homeContainer{
    background-image: url("../images/bg1.jpg"); /* Update with your actual image path */
    background-size: cover;  /* Ensures the image covers the entire section */
    background-position: center;  /* Centers the image */
    background-repeat: no-repeat;  /* Prevents tiling */
    min-height: 100vh;
    min-width: 100vw; /* Makes sure it takes the full viewport height */
    display: flex;  /* Keeps your content centered if needed */
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.homePicnText{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.hometext{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 1rem 2rem 1rem 5rem;
}
.mypic{
    display: flex;
}
.mypic img{
    max-width: 800px;
    height: auto;
    
}
.nametext{
    display: flex;
    flex-direction: column;
    color: white;
}
.nametext p{
    font-size: 1rem;
}
.nametext h1{
    font-size: 2.3rem;
}
.socmed{
    display: flex;
    gap: 10px;
}
.sm{
    width: 2.5rem;
    height: auto;    
}
.cvandsm{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.downloadbtn button {
    transition: all 0.3s ease-in-out;
    background-color: #6868E4;
  }
  
  .downloadbtn button:hover {
    transform: scale(1.1);
    background-color: #7b7bff; /* Highlight effect */
  }

  

