#home {
    transform-origin: top;
  }
  
.homeContainer{
    background-image: url("../images/bg1.jpg"); 
    background-size: cover;  
    background-position: center;  
    background-repeat: no-repeat;  
    min-height: 100vh;
    min-width: 100vw; 
    display: flex; 
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.homePicnText{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.hometext{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 1rem 2rem 1rem 5rem;
}
.mypic{
    display: flex;
}
.mypic img{
    width: 800px;
    height: auto;
}
.nametext{
    display: flex;
    flex-direction: column;
    color: white;
}
.nametext p{
    font-size: 1rem;
}
.nametext h1{
    font-size: 2.3rem;
}
.socmed{
    display: flex;
    gap: 10px;
}
.sm{
    width: 2.5rem;
    height: auto;    
}
.cvandsm{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.downloadbtn button {
    transition: all 0.3s ease-in-out;
    color: #ffffff;
    background-color: #6868E4;
  }
  
  .downloadbtn button:hover {
    transform: scale(1.1);
    background-color: #7b7bff; 
  }

  .typewriter {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 5px solid white; 
    font-weight: bold;
    animation: typing 3s steps(30, end) forwards, blink 0.8s infinite;
  }
  
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  @keyframes blink {
    50% { border-color: transparent; }
  }
  

