.containerProj{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to left bottom, #1c325b, #1c305f, #1d2e63, #212b66, #262869, #27266b, #28236d, #2a206f, #271e71, #241b74, #201976, #1c1678);    
    min-height: 100vh; 
    min-width: 100vw;
    color: white;
    overflow: hidden;
}

.containerProj h1 {
    font-size: 2rem;
    text-align: center;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}

.containerProj h1::after {
    content: "";
    display: block;
    width: 5rem;
    height: 4px; 
    background-color: white; 
    margin: auto;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: width 0.4s ease-in-out;
}

.containerProj h1:hover::after {
    width: 10rem; 
}


  
  .projectsGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100vw;
    margin-top: 20px;
  }
  
  .projectCard {
    background: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    border-radius: 10px;
    width: 320px;
    text-align: left;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  }
  
  .projectCard:hover {
    transform: scale(1.05);
  }
  
  .projectImage {
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .projectCard h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
   
  .techStack {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
  }
  
  .techBadge {
    background: #6868E4;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
  }
  

  .projectSwiper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto
  }
  
  .projectSwiper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  