#skills {
    text-align: center;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/bg5.jpg"); /* Update with your actual image path */
    background-size: cover;  /* Ensures the image covers the entire section */
    background-position: center;  /* Centers the image */
    background-repeat: no-repeat;    
    min-width: 100vw;
    min-height: 120vh;
    color: white;
    overflow: hidden;
  }
  
  .containerSkills {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: rgba(87, 87, 87, 0.5);
    padding: 20px 50px;
    border-radius: 10px;
    width: 60%;
    height: 80%;
    margin: auto;
    position: relative;
  }
  
  .skillsList {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
  }
  
  .category {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-size: 1.2rem;
  }
  
  .category h3 {
    margin-bottom: 10px;
    font-size: 1.3rem;
  }
  
  .skill-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .skill-buttons button {
    background: #6868E4;
    color: white;
    border: none;
    padding: 10px 14px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .skill-buttons button:hover {
    background: rgb(44, 44, 216);
  }
  
  .skillsImg {
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  .skillsImg img {
    max-width: 10rem;
    height: auto;
  }
  
  #skills h1 {
  font-size: 2.5rem;
  text-align: center;
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}

#skills h1::after {
  content: "";
  display: block;
  width: 75px; /* Adjust the width of the underline */
  height: 3px; /* Thickness of the underline */
  background-color: white; /* Change to a preferred color */
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
}
#skills h1:hover::after{
  width: 200px;
}
 
  