@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: 'Exo', sans-serif;
}

html, body {
  font-family: 'Exo', sans-serif;
  margin: 0 auto;
  justify-content: center;
  padding: 0;
  max-width: 100%;
  position: relative;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow-x: hidden; /* Prevents horizontal scrolling */

}



.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/* Footer Styles */
footer {
  display: flex;
  background-color: #201E43;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  height: 70px;
  gap: 10px;
  width: 100%;
}
footer img{
  height: 40px;
  width: 40px;
}

footer p {
  margin: 0;
  font-size: 1rem;
  color: white;
  
}

@media (min-width: 320px) {
  /*header*/
  .headerContainer{
    justify-content: space-between;
    padding: 0 1rem 0 1.5rem;
  }
  .site-logo{
    height: 2.1rem;
  }
  .logoname{
    width: auto;
  }
  .logoname p{
    font-size: 0.6rem;
  }

  /*homepage*/
  .homeContainer{
    padding-top: 5rem;
  }
  .homePicnText{
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 5.5rem 0 0 0 ;
  }
  .hometext{
      gap: 1.5rem;
      padding: 0;
      align-items: center;
      text-align: center;
  }
  .nametext h1{
    font-size: 1.7rem;
  }
  .nametext p{
      font-size: 0.7rem;
  } 
  .sm{
      width: 1.5rem;
      height: auto;
  }
  .socmed{
    justify-content: center;
  }
  .downloadbtn button{
      font-size: .8rem;
  }
  .mypic img{
    width: 25rem;
}

  /*aboutpage*/

  .aboutMe img{
    display: none;
  }
  .aboutMeText h1{
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  .aboutMeText p{
    width: 15rem;
    height: auto;
    font-size: 0.7rem;
    text-align: center;
  }

  /*edducationpage*/
  .containerEduc{
    padding-bottom: 2rem;
  }
  .educText h1{
    font-size: 1.3rem;
  }
  .educText p{
    font-size: 0.7rem;
  }
  .timeline{
    width: 90%;
  }
  .timeline::before{
    left: 1rem;
  }
  .timeline-item{
    min-width: 90%;
    left: 60px; 
  }
  .timeline-item h3{
    font-size: 1rem;
  }
  .timeline-item p{
    font-size: 0.7rem;
  }
  .timeline-item::before{
    left: -60px;
  }
  .timeline-item:nth-child(odd) {
    margin-left: 2rem;
    left: 0;
  }
  .timeline-item:nth-child(even) {
    margin-right: 0;
    margin-left: 2rem;
  }
  .timeline-item:nth-child(odd)::before {
    left: -4rem;
  }
  .timeline-item:nth-child(even)::before {
    left: -2.3rem;
  }


  /*skillspage*/
  #skills{
    padding: 1rem 0 3rem 0;
  }
  #skills h1{
    font-size: 1.3rem;
  }
  
  .containerSkills{
    width: 90%;
    padding: 1rem;
    margin-top: 1.5rem;
  }
  .skillsList{
  }
  .category{
    align-items: center;
  }
  .category h3{
    text-align: center;
  }
  .skill-buttons{
    justify-content: center;
  }


  /*projectpage*/


  /*contactpage*/


  /*footerpage*/


}