@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: 'Exo', sans-serif;
}

html, body {
  font-family: 'Exo', sans-serif;
  margin: 0 auto;
  justify-content: center;
  padding: 0;
  max-width: 100%;
  position: relative;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow-x: hidden; /* Prevents horizontal scrolling */

}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/* Footer Styles */
footer {
  display: flex;
  background-color: #201E43;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  height: 70px;
  gap: 10px;
  width: 100%;
}
footer img{
  height: 40px;
  width: 40px;
}

footer p {
  margin: 0;
  font-size: 1rem;
  color: white;
  
}

@media (min-width: 320px) {
  /*header*/
  .headerContainer{
    justify-content: space-between;
    padding: 0 1rem 0 1.5rem;
  }
  .site-logo{
    height: 2.1rem;
  }
  .logoname{
    width: auto;
  }
  .logoname p{
    font-size: 0.6rem;
  }
  .header {
    flex-direction: column;
    height: auto; 
  }

  .header-nav {
    display: none; 
  }

  .header-nav.open {
    display: flex; 
    gap: 1rem;
    padding-bottom: 2rem;
  }
  .header-nav.open a {
    align-items: center;
  }
  .navbar-toggle {
    display: block; 
  }


  /*homepage*/
  .homePicnText{
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 5.5rem 0 0 0 ;
      
  }
  .hometext{
      gap: 1.5rem;
      padding: 0;
      align-items: center;
      text-align: center;
  }
  .nametext h1{
    font-size: 1.7rem;
  }
  .nametext p{
      font-size: 0.7rem;
  } 
  .sm{
      width: 1.5rem;
      height: auto;
  }
  .socmed{
    justify-content: center;
  }
  .downloadbtn button{
      font-size: .8rem;
  }
  .mypic img{
    width: 25rem;
}

  /*aboutpage*/
  .aboutContainer{
    padding: 3rem 0 3rem 0;
  }
  .aboutMeText{
    width: 90%;
    align-items: center;
  }
  .aboutMe img{
    display: none;
  }
  .aboutMeText h1{
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  .aboutMeText p{
    width: 90%;
    height: auto;
    font-size: 0.7rem;
    text-align: center;
  }

  /*edducationpage*/
  .containerEduc{
    padding: 3rem 1rem 3rem 1rem;
    gap: 3rem;
  }
  .educText h1{
    font-size: 1.3rem;
  }
  .educText p{
    font-size: 0.7rem;
  }
  .timeline{
    width: 90%;
  }
  .timeline::before{
    left: 1rem;
  }
  .timeline-item{
    min-width: 90%;
    left: 60px; 
  }
  .timeline-item h3{
    font-size: 1rem;
  }
  .timeline-item p{
    font-size: 0.7rem;
  }
  .timeline-item::before{
    left: -60px;
  }
  .timeline-item:nth-child(odd) {
    margin-left: 2rem;
    left: 0;
  }
  .timeline-item:nth-child(even) {
    margin-right: 0;
    margin-left: 2rem;
  }
  .timeline-item:nth-child(odd)::before {
    left: -3.7rem;
  }
  .timeline-item:nth-child(even)::before {
    left: -2rem;
  }


  /*skillspage*/
  #skills{
    padding: 3rem 0 3rem 0;
  }
  #skills h1{
    font-size: 1.3rem;
  }
  
  .containerSkills{
    width: 90%;
    padding: 1rem;
    margin-top: 1.5rem;
  }
  .skillsList{
    z-index: 2;
  }
  .category{
    align-items: center;
  }
  .category h3{
    text-align: center;
  }
  .skill-buttons{
    justify-content: center;
  }
  .skillsImg{
    z-index: 1;
    opacity: 0.5;

  }
  .skillsImg img{
    opacity: 0.5;
  }


  /*projectpage*/
  .containerProj{
    padding: 3rem 1rem 3rem 1rem;
  }
  .containerProj h1 {
    font-size: 1.3rem;
  }
  .projectsGrid{
    flex-direction: column;
    align-items: center;
  }
  .projectCard{
    width: 80% ;
  }
  .projectSwiper {
    width: 50%;
    height: auto;
  }
  .projectCard h3 {
    font-size: 1rem;
    text-align: center;
  }
  .projectCard p {
    font-size: 0.8rem;
    text-align: center;
  }
  .techStack {
    justify-content: center;
    margin: 2rem 0 1rem 0;
  }

  /*contactpage*/
  #contact{
    padding: 3rem 1rem 5rem 1rem;
  }
  #contact h1 {
  font-size: 1.3rem;
  padding-bottom: 0.5;
  }
  .containerContact {
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    padding: 2rem 1rem 2rem 1rem;
  }

  .contactIcon img {
    width: 10rem;
  }
  .socialMediaSection p {
    font-size: 0.8rem;
    color: white;
    margin-bottom: 10px;
  }
  .contactInfo input,
  .contactInfo textarea {
    width: 250px;
  }
  .contactInfo button{
    width: 100%;
  }
  .scrollToTop {
    bottom: 3rem;
  }
}

@media (min-width: 425px){
   /*header*/
   .headerContainer{
    justify-content: space-between;
    padding: 0 1rem 0 1.5rem;
  }
  .site-logo{
    height: 2.3rem;
  }
 
  .logoname p{
    font-size: 0.7rem;
  }

  /*homepage*/
  .homePicnText{
    padding: 7rem 0 0 0 ;
      
  }
  
  .nametext h1{
    font-size: 2rem;
  }
  .nametext p{
      font-size: 0.9rem;
  } 
  .sm{
      width: 1.8rem;
  }

  .downloadbtn button{
      font-size: 0.9rem;
  }
  .mypic img{
    width: 28rem;
}

  /*aboutpage*/
  .aboutMeText h1{
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .aboutMeText p{
    width: 90%;
    height: auto;
    font-size: 0.9rem;
  }

  /*edducationpage*/
 
  .educText h1{
    font-size: 1.5rem;
  }
  .educText p{
    font-size: 0.9rem;
  }
  

  .timeline-item{ 
    gap: 0.5rem;
  }
  .timeline-item h3{
    font-size: 1.2rem;
  }
  .timeline-item p{
    font-size: 0.9rem;
  }
  


  /*skillspage*/

  #skills h1{
    font-size: 1.5rem;
  }
  .skillsImg img {
    width: 10rem;
  }


  /*projectpage*/
  .containerProj h1 {
    font-size: 1.5rem;
  }
  .projectsGrid{
    padding: 1rem 0 0 0;
  }
  .projectCard{
    width: 85% ;
  }
  .projectCard h3 {
    font-size: 1.1rem;
    text-align: center;
  }
  .projectCard p {
    font-size: 0.9rem;
    text-align: center;
  }

  /*contactpage*/
  #contact{
    padding: 3rem 1rem 7rem 1rem;
  }
  #contact h1 {
  font-size: 1.5rem;
  }
  .containerContact {
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    padding: 2rem 1rem 2rem 1rem;
  }

  .contactIcon img {
    width: 11rem;
  }
  .socialMediaSection p {
    font-size: 0.9rem;
  }
  .sm2{
    width: 3rem;

  }

  .contactInfo input,
  .contactInfo textarea {
    width: 22rem;
  }
  .contactInfo button{
    width: 100%;
  }
  .scrollToTop {
    bottom: 3rem;
  }
  
}

@media (min-width: 768px){
  /*header*/
  .headerContainer{
    justify-content: space-between;
    padding: 1rem 2rem 1rem 2.5rem;
  }
  .site-logo{
    height: 3rem;
  }
  .logoname{
    width: auto;
  }
  .logoname p{
    font-size: 1rem;
  }

  /*homepage*/
  .homePicnText{
      display: flex;
      justify-content: center;
      flex-direction: column;
  }
  .hometext{
      gap: 2rem;
      padding: 0;
      align-items: center;
      text-align: center;
  }
  .nametext h1{
    font-size: 3rem;
  }
  .nametext p{
      font-size: 1.1rem;
  } 
  .sm{
      width: 2.5rem;
      height: auto;
  }
  .socmed{
    justify-content: center;
  }
  .downloadbtn button{
      font-size: 1.2rem;
  }
  .mypic img{
    width: 40rem;
}

  /*aboutpage*/
  .aboutMeText h1{
    font-size: 2.2rem;
  }
  .aboutMeText p{
    font-size: 1.1rem;
  }

  /*edducationpage*/
  .educText h1{
    font-size: 2.2rem;
  }
  .educText p{
    font-size: 1.1rem;
  }
  .timeline{
    width: 80%;
  }
  .timeline::before{
    left: 1rem;
  }
  .timeline-item{
    min-width: 90%;
    left: 60px; 
  }
  .timeline-item h3{
    font-size: 1.5rem;
  }
  .timeline-item p{
    font-size: 1.1rem;
  }

  /*skillspage*/
  #skills{
    padding: 3rem 0 3rem 0;
  }
  #skills h1{
    font-size: 2.2rem;
  }
  .containerSkills{
    justify-content: center;
    width: 80%;
    padding: 1rem;
    margin-top: 1.5rem;
  }
  .skillsImg{
    width: 15rem;
  }
  .skill-buttons button {
    font-size: 1.5rem;
  }
  


  /*projectpage*/
  .containerProj{
    padding: 3rem 1rem 3rem 1rem;
  }
  .containerProj h1 {
    font-size: 2.2rem;
  }
  .projectsGrid{
    flex-direction: column;
    align-items: center;
  }
  .projectCard{
    width: 80% ;
  }
  .projectSwiper {
    width: 50%;
    height: auto;
  }

  .projectCard h3 {
    font-size: 1.7rem;
    text-align: center;
  }
  .projectCard p {
    font-size: 1.1rem;
    text-align: center;
  }
  .techStack{
    gap: 1rem;
  }
  .techBadge{
    font-size: 1.4rem;
  }

  /*contactpage*/
  #contact{
    padding: 3rem 1rem 9rem 1rem;
  }
  #contact h1 {
  font-size: 2.2rem;
  padding-bottom: 0.5;
  }
  .containerContact {
    flex-direction: row;
    gap: 5rem;
    width: 90%;
    margin-top: 2rem;
    padding: 2rem 1rem 2rem 1rem;
  }

  .contactIcon img {
    width: 10rem;
  }
  .sm2{
    width: 2.5rem;
  }
  .contactInfo input,
  .contactInfo textarea {
    width: 20rem;
  }
  .contactInfo button{
    width: 50%;
  }
  .scrollToTop {
    bottom: 3rem;
  }
  
  /*footer*/
  footer{
    padding: 3rem 0 3rem 0;
  }
  footer p{
    font-size: 1.3rem;
  }
  footer img{
    width: 3rem;
    height: auto;
  }
}

@media (min-width: 1024px){
  /*header*/
  .headerContainer{
    justify-content: space-between;
    padding: 0 1rem 0 1.5rem;
  }
  .site-logo{
    height: 1.9rem;
  }
  .logoname{
    width: auto;
  }
  .logoname p{
    font-size: 0.7rem;
  }
  .header {
    flex-direction: column;
    height: auto; 
  }

  .header-nav {
    display: flex; 
    gap: 5rem;
  }
  .header-nav a{
    font-size: 0.8rem;
  }

  .header-nav.open {
    display: none; 
  }
  .header-nav.open a {
    align-items: center;
  }
  .navbar-toggle {
    display: none; 
  }
  .contactbtn button{
    font-size: 0.8rem;

  }


  /*homepage*/
  .homePicnText{
      display: flex;
      justify-content: center;
      flex-direction: row;
      padding: 5.5rem 0 0 0 ;
  }
  .hometext{
      gap: 1.5rem;
      padding: 0 0 0 5rem;
      align-items: flex-start;
      text-align: left;

  }
  .nametext h1{
    font-size: 2rem;
  }
  .nametext p{
      font-size: 0.8rem;
  } 

  .downloadbtn button{
      font-size: .8rem;
  }
  .mypic img{
    width: 35rem;

}

  /*aboutpage*/
  .aboutContainer{
    padding: 3rem 2rem 3rem 4rem;
    align-items: center;
  }
  .aboutMeText{
    width: 80%;
    align-items: center;
  }
  .aboutMe img{
    display: flex;
    width: 15rem;
  }
  .aboutMeText h1{
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }
  .aboutMeText p{
    width: 90%;
    height: auto;
    font-size: 0.8rem;
    text-align: center;
  }

  /*edducationpage*/
  .containerEduc{
    padding: 3rem 1rem 3rem 1rem;
    gap: 3rem;
  }
  .educText h1{
    font-size: 1.7rem;
  }
  .educText p{
    font-size: 0.8rem;
  }
  .timeline{
    max-width: 25rem;
  }
  .timeline::before{
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 4px;
    height: 100%;
    background: #6868E4;
    transform: translateX(-50%);
  }
  .timeline-item{
    width: 50%;
  }
  .timeline-item h3{
    font-size: 1rem;
  }
  .timeline-item p{
    font-size: 0.7rem;
  }
  .timeline-item:nth-child(odd) {
    left: 65.5%;

  }
  .timeline-item:nth-child(even) {
    left: -76%;

  }
  .timeline-item:nth-child(odd)::before {
    left: -7.9rem;
    transform: translate(0%, -50%);
    position: absolute;
  }
  .timeline-item:nth-child(even)::before {
    left: 128%; /* Move it to the right of the timeline */
    transform: translate(-50%, -50%);  
    position: absolute;
  }


  /*skillspage*/
  #skills{
    padding: 3rem 0 3rem 0;
  }
  #skills h1{
    font-size: 1.7rem;
  }
  
  .containerSkills{
    width: 90%;
    padding: 1rem;
    margin-top: 1.5rem;
    justify-content: space-between;
    align-items: flex-start;
  }
  .skillsList{
    z-index: 2;
  }
  .category{
    align-items: flex-start;
  }
  .category h3{
    text-align: left;
    font-size: 1rem;
  }
  .skill-buttons button{
    justify-content: center;
    font-size: 1.2rem;
  }
  .skillsImg{
    z-index: 1;
    width: 25rem;
    height: auto;
  }
  .skillsImg img{
    width: 15rem;

  }

  /*projectpage*/
  .containerProj{
    padding: 3rem 1rem 3rem 1rem;
  }
  .containerProj h1 {
    font-size: 1.7rem;
  }
  .projectsGrid{
    flex-direction: row;
    align-items: center;
  }
  .projectCard{
    width: 40% ;
    height: auto;
  }
  .projectSwiper {
    width: 50%;
    height: auto;
  }
  .projectCard h3 {
    font-size: 1rem;
    text-align: center;
  }
  .projectCard p {
    font-size: 0.8rem;
    text-align: center;
  }
  .techBadge {
    font-size: .8rem;
  }


  /*contactpage*/
   /*contactpage*/
   #contact{
    padding: 3rem 1rem 9rem 1rem;
  }
  #contact h1 {
  font-size: 2.2rem;
  padding-bottom: 0.5;
  }
  .containerContact {
    flex-direction: row;
    gap: 5rem;
    width: 90%;
    margin-top: 2rem;
    padding: 2rem 1rem 2rem 1rem;
  }

  .contactIcon img {
    width: 10rem;
  }

  .contactInfo input,
  .contactInfo textarea {
    width: 20rem;
  }
  .contactInfo button{
    width: 50%;
  }
  .scrollToTop {
    bottom: 3rem;
  }

  /*footer*/
  footer{
    padding: 1rem 0 1rem 0;
  }
  footer p{
    font-size: 0.9rem;
  }
  footer img{
    width: 2rem;
    height: auto;
  }
}

@media (min-width: 1440px){
  /*header*/
  .headerContainer{
    justify-content: space-around;
    padding: 0.3rem 1rem 0.3rem 1.5rem;
  }
  .site-logo{
    height: 2.5rem;
  }
  .logoname{
    width: auto;
  }
  .logoname p{
    font-size: 0.8rem;
  }
  .header-nav {
    display: flex; 
    gap: 5rem;
  }
  .header-nav a{
    font-size: 0.9rem;
  }
  .contactbtn button{
    font-size: 0.9rem;

  }


  /*homepage*/
  .homePicnText{
      display: flex;
      justify-content: center;
      flex-direction: row;
      padding: 2rem 0 0 0 ;
  }
  .hometext{
      gap: 1.5rem;
      padding: 0 0 0 5rem;
      align-items: flex-start;
      text-align: left;

  }
  .nametext h1{
    font-size: 2.8rem;
  }
  .nametext p{
      font-size: 1rem;
  } 

  .downloadbtn button{
      font-size: 1rem;
  }
  .mypic img{
    width: 45rem;

}

  /*aboutpage*/
  .aboutContainer{
    padding: 3rem 2rem 3rem 2rem;
    align-items: center;
  }
  .aboutMeText{
    width: 60%;
    align-items: center;
  }
  .aboutMe img{
    display: flex;
    width: 19rem;
  }
  .aboutMeText h1{
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .aboutMeText p{
    width: 90%;
    height: auto;
    font-size: 1rem;
    text-align: center;
  }

  /*edducationpage*/
  .containerEduc{
    padding: 3rem 0 3rem 0;
    gap: 3rem;
  }
  .educText h1{
    font-size: 2rem;
  }
  .educText p{
    font-size: 1rem;
  }
  .timeline{
    max-width: 40rem;
    padding: 0 5rem 0 5rem;
  }
  .timeline::before{
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 4px;
    height: 100%;
    background: #6868E4;
    transform: translateX(-50%);
  }
  .timeline-item{
    width: 90%;
    padding: 1.5rem;
  }
  .timeline-item h3{
    font-size: 1.3rem;
  }
  .timeline-item p{
    font-size: 1rem;
  }
  .timeline-item:nth-child(odd) {
    left: 65.5%;

  }
  .timeline-item:nth-child(even) {
    left: -76%;

  }
  .timeline-item:nth-child(odd)::before {
    left: -8.4rem;
    transform: translate(0%, -50%);
    position: absolute;
  }
  .timeline-item:nth-child(even)::before {
    left: 132.5%; /* Move it to the right of the timeline */
    transform: translate(-50%, -50%);  
    position: absolute;
  }


  /*skillspage*/
  #skills{
    padding: 3rem 0 3rem 0;
  }
  #skills h1{
    font-size: 2rem;
  }
  
  .containerSkills{
    width: 80%;
    padding: 1rem 5rem 1rem 5rem;
    margin-top: 1.5rem;
    justify-content: space-between;
    align-items: flex-start;
  }
  .skillsList{
    z-index: 2;
  }
  .category{
    align-items: flex-start;
  }
  .category h3{
    text-align: left;
    font-size: 1.3rem;
  }
  .skill-buttons button{
    justify-content: center;
    font-size: 1.1rem;
  }
  .skillsImg{
    z-index: 1;
    width: 35rem;
    height: auto;
    bottom: 5rem;
  }
  .skillsImg img{
    width: 25rem;

  }

  /*projectpage*/
  .containerProj{
    padding: 3rem 1rem 3rem 1rem;
  }
  .containerProj h1 {
    font-size: 2rem;
  }
  .projectsGrid{
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
  .projectCard{
    width: 23% ;
    min-height: 28rem;  
  }
  .projectSwiper {
    width: 60%;
    height: auto;
  }
  .projectCard h3 {
    font-size: 1.2rem;
    text-align: center;
  }
  .projectCard p {
    font-size: 0.9rem;
    text-align: center;
  }
  .techBadge {
    font-size: .9rem;
  }


  /*contactpage*/
   /*contactpage*/
   #contact{
    padding: 3rem 1rem 9rem 1rem;
  }
  #contact h1 {
  font-size: 2rem;
  padding-bottom: 0.5;
  }
  .containerContact {
    flex-direction: row;
    gap: 5rem;
    width: 70%;
    justify-content: space-evenly;
    margin-top: 2rem;
    padding: 4rem 1rem 3rem 1rem;
  }
  
  .contactIcon img {
    width: 18rem;
  }
  .socialMediaSection p {
    font-size: 1.1rem;
  }
  .sm2{
    width: 2.8rem;
  }
  .contactInfo input,
  .contactInfo textarea {
    width: 28rem;
  }
  .contactInfo button{
    width: 50%;
  }
  .scrollToTop {
    bottom: 3rem;
  }

  /*footer*/
  footer{
    padding: 1rem 0 1rem 0;
  }
  footer p{
    font-size: 1.1rem;
  }
  footer img{
    width: 2.3rem;
    height: auto;
  }
}

@media (min-width: 2560px){
  /*header*/
  .headerContainer{
    justify-content: space-around;
    padding: 0.7rem 1rem 0.7rem 1.5rem;
  }
  .site-logo{
    height: 3.3rem;
  }
  .logoname{
    width: auto;
  }
  .logoname p{
    font-size: 1.1rem;
  }
  .header-nav a{
    font-size: 1.3rem;
  }
  .contactbtn button{
    font-size: 1.3rem;

  }


  /*homepage*/
  .hometext{
      gap: 3.5rem;
      padding: 0 0 0 5rem;
      align-items: flex-start;
      text-align: left;

  }
  .nametext h1{
    font-size: 3.8rem;
  }
  .nametext p{
      font-size: 2rem;
  } 

  .downloadbtn button{
      font-size: 1.7rem;
  }
  .mypic img{
    width: 65rem;

  }
  .sm{
    width: 4rem;
  }
  .cvandsm{
    gap: 1rem;
  }

  /*aboutpage*/
  .aboutContainer{
    padding: 5rem 2rem 5rem 2rem;
    align-items: center;
  }
  .aboutMeText{
    width: 60%;
    align-items: center;
  }
  .aboutMe img{
    display: flex;
    width: 22rem;
  }
  .aboutMeText h1{
    font-size: 2.7rem;
    margin-bottom: 1rem;
  }
  .aboutMeText p{
    font-size: 1.7rem;
  }

  /*edducationpage*/
  .containerEduc{
    padding: 5rem 0 5rem 0;
    gap: 3rem;
  }
  .educText h1{
    font-size: 2.7rem;
  }
  .educText p{
    font-size: 1.7rem;
  }
  .timeline{
    max-width: 40rem;
    padding: 0 5rem 0 5rem;
  }
  .timeline-item{
    width: 40rem;
    padding: 2rem;
  }
  .timeline-item h3{
    font-size: 1.7rem;
  }
  .timeline-item p{
    font-size: 1.5rem;
  }
  .timeline-item:nth-child(odd) {
    left: 65.5%;

  }
  .timeline-item:nth-child(even) {
    left: -115%;

  }
  .timeline-item:nth-child(odd)::before {
    left: -8.4rem;
  }
  .timeline-item:nth-child(even)::before {
    left: 119%; /* Move it to the right of the timeline */
  }


  /*skillspage*/
  #skills{
    padding: 5rem 0 5rem 0;
  }
  #skills h1{
    font-size: 2.7rem;
  }
  
  .containerSkills{
    width: 60%;
    padding: 5rem;
    margin-top: 1.5rem;
    justify-content: space-between;
    align-items: flex-start;
  }
  .skillsList{
    z-index: 2;
  }
  .category{
    align-items: flex-start;
  }
  .category h3{
    text-align: left;
    font-size: 1.7rem;
  }
  .skill-buttons button{
    justify-content: center;
    font-size: 1.5rem;
  }
  .skillsImg{
    z-index: 1;
    width: 35rem;
    height: auto;
    bottom: 5rem;
  }
  .skillsImg img{
    width: 25rem;

  }

  /*projectpage*/
  .containerProj{
    padding: 3rem 1rem 3rem 1rem;
  }
  .containerProj h1 {
    font-size: 2.7rem;
  }
  .projectsGrid{
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
  .projectCard{
    width: 23% ;
    min-height: 28rem;  
    padding: 3rem;
  }
  .projectSwiper {
    width: 50%;
    height: auto;
  }
  .projectCard h3 {
    font-size: 1.7rem;
    text-align: center;
  }
  .projectCard p {
    font-size: 1.3rem;
    text-align: center;
  }
  .techBadge {
    font-size: 1.3rem;
  }


  /*contactpage*/
   /*contactpage*/
   #contact{
    padding: 3rem 1rem 9rem 1rem;
  }
  #contact h1 {
  font-size: 2.7rem;
  padding-bottom: 0.5;
  }
  .containerContact {
    flex-direction: row;
    gap: 5rem;
    width: 60%;
    justify-content: space-evenly;
    margin-top: 2rem;
    padding: 4rem 1rem 3rem 1rem;
  }
  
  .contactIcon img {
    width: 25rem;
  }
  .socialMediaSection p {
    font-size: 1.3rem;
  }
  .sm2{
    width: 3rem;
  }
  .contactInfo input,
  .contactInfo textarea {
    width: 33rem;
  }
  .contactInfo button{
    width: 50%;
  }
  .scrollToTop {
    bottom: 3rem;
  }

  /*footer*/
  footer{
    padding: 3rem 0 3rem 0;
  }
  footer p{
    font-size: 1.5rem;
  }
  footer img{
    width: 3rem;
    height: auto;
  }
}