* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
/* Global Styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  justify-content: center;
  padding: 0;
  max-width: 100%;
  position: relative;
  overflow-x: hidden;
  margin: 0;
  width: 100%;
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/* Footer Styles */
footer {
  display: flex;
  background-color: #201E43;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  height: 70px;
  gap: 10px;
  width: 100%;
}
footer img{
  height: 40px;
  width: 40px;
}

footer p {
  margin: 0;
  font-size: 1rem;
  color: white;
  
}

/* Buttons */
.btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

/* Utility Classes */
.text-center {
  text-align: center;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.homestyle{
    margin: 2% auto;
    padding: 0% 2% 2% 2%;
    width: 90%;
    
}

.selectedimg1{
   display: flex;
   justify-content: center;
   margin-top: 3%;
}

.selectedimg2 {
   width: 80%;
   max-width: 1200px; 
   position: relative; 
   overflow: hidden;
}

.selectedimg3 {
  width: 100%;
  height: auto; 
  display: block;
}


@media (max-width: 768px) {
  body{
    width: 100%;
  }

  .homestyle {
    width: 100%; 
    padding: 0 2%; 
  }
  footer{
    width: 100%;
  }

 /* Adjust button styles on mobile */
 button {
  flex: 1 1 calc(33.33% - 10px); 
  max-width: 100px; 
  font-size: 14px; 
}
}
